---
import styles from "./Table.module.css";

interface Props {
  headers: string[];
}

const {
  headers = [],
} = Astro.props;
---

<table class={styles.table}>
  <thead>
    <tr>
      {
        headers.map((header) => (
          <th>{header}</th>
        ))
      }
    </tr>
  </thead>

  <tbody>
    <slot />
  </tbody>
</table>