@import "./tokens.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Geist", sans-serif;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}